.App {
	text-align: center;
	.container{
		width: 90%;
		margin: 10px auto;
		.list-header{
			display: flex;
			margin-left: 10px;
		}
		.list-container{			
			display: flex;
			justify-content: flex-start;
			flex-direction: row;
			.title{					
				position: relative;
				margin: 20px 10px;
				.list-image:hover{
					cursor: pointer;
					/*opacity: 0.5;*/
				}
				.action-button{
					display: none;
				    border: 1px solid #ccc;
				    border-radius: 4px;
				    padding: 10px;
				    text-align: center;
				    width: 100px;
				    margin: 10px auto;
				    background-image: linear-gradient(180deg, #ccc 0, #fff);
				    &.add, &.remove{
				    	display: block;
				    }
				    &:hover{
				    	cursor: pointer;
						opacity: 0.5;
					}
				}
			}
		}
	}
}
